<div class="footer">
  <div class="footer-links">
    <a href="https://instagram.com/u.incomum?igshid=ZDdkNTZiNTM=" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/u.incomum" target="_blank"><i class="fab fa-facebook"></i></a>
    <div class="footer-copyright">
      contato@usuarioincomum.com
    </div>
  </div>
  <div class="footer-copyright">
    Feito com tecnologia pelo 👽 Usuário Incomum.
  </div>
</div>
