<h1>Bem Vindo!</h1>
<h2>Cadastre-se para criar um anúncio!</h2>

<% @posts.each do |post| %>
  <%= link_to user_post_path(post.user, post), class: "card-link" do %>
    <div class="card-product mb-2">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= post.title %></h2>
        <p><strong><%= post.description %></strong></p>
        <p>Ver Anúncio</p>
      </div>
    </div>
  <% end %>
<% end %>


